recursive-include karl/views/static *.js
recursive-include karl/views/static *.css
recursive-include karl/views/static/fonts *
recursive-include karl/views/static/images *
recursive-include karl/views/static/min *